
 *{
  font-family: "CodeSaver-Regular", serif;
  font-size: 2.5vmin;
  font-weight: 100;
  user-select: none;
}


  
  body {
    background-color: whitesmoke;
    font-family: Verdana, sans-serif;
  }

  h1 {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: auto;
    font-size: 7vmin;
}
    
  .head {
    margin-top: 20px;
    margin-right: 20vw;
    margin-left: 20vw;
    text-align: center;
    font-size: 30px;
    background-color: #6f459e;
    color: white;
    border-radius:19px;
    font-weight: bolder;
  }
    
  .array {
    width: 50%;
    height: 75%;
    border: solid black;
    position: absolute;
    left: 49%;
  }

  .individual-ints {
    width: 2em;
    background-color:rgb(0, 220, 255);
    position: absolute;
    left: 0%;
    bottom: 0%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
\    border-right: solid rgb(215, 215, 215);

}

  #inputs 
  {
    width: 50%;
  }
  #insertionsort, #selectionsort, #mergesort, #bubblesort
  {
  width: auto;
  padding: 12px;
  font-weight: bolder; 
  border-radius: 5px; 
  color: black; 
  font-size: 16px; 
  margin-top: 1vw;
  margin-right: 1vw;
  }

  .slider {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: black;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:black;
    cursor: pointer;
  }